body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Open Sans */
  font-family: 'Open Sans', sans-serif;
}
/**CONTENEDOR FLEXBOX**/
.flex-container{
	display: flex;
}
/**ESTILO PARA NUESTRO MENU NAV**/
.menu{
	background-color: white;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
}
/*la propiedad justify-content con el valor flex-start, logramos que nuestros elementos queden alineados a la izq */
.menu.flex-container{
	justify-content: flex-start;
}
/*para que el logo quede hacia la derecha, ocupamos margin-left:auto; (afecta solo el lado derecho del margin*/
.logo-container{
	margin-left: auto;
	margin-right: 20px;
}	
/*dimensiones del logo*/
.flex-container .logo{
	width: 70px;
	height: 70px;
}

/**ESTILOS PARA HOME**/
#home{
	height: 600px;
	margin-top: 70px;

	background-image: url(../assets/images/bg-home.jpg);
	background-position: center;
	background-size: cover;
	/*background-attachment = fija la imagen en el fondo*/
	background-attachment: fixed;
	background-repeat:no-repeat;
	/*para que nuestros elementos esten centrados, horizontal y vertical , usamos el valor *center* y ocupamos las propiedades justify-content Y flex-direction*/
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color:whitesmoke;  
}

.text-home{
	font-size: 2.4em;
}
/*ARREGLAR BOTON ! */
.btn-home{
  background: #2Ecc71;
  color:#fff;
  padding: 11px 20px;
  border-radius:5px;
  font-weight: 500;
  text-transform: uppercase;
}


/**SERVICES **/
/*centrar texto*/
#services{
	background-color: #f17C72;
	text-align: center;
	color: #fff;
	padding: 70px;
}

#services.flex-container{
/*space-around =se distribuyen los elementos internos y dejando espacios a cada lado*/
	justify-content: space-around;
/*wrap= para que no se vean forzados los elementos a desplegarse en una sola linea*/
	flex-wrap: wrap;
}
.box-services{
	font-size: 1.2em;
	font-weight: bold;
}

/**ESTILO DE FOOTER**/
/*para que nuestros elementos esten centrados, horizontal y vertical , usamos el valor *center* y ocupamos las propiedades justify-content Y flex-direction*/
#footer{
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #373b47;
	color:whitesmoke;
}
/**ESTILOS PARA LOS LINKS**/
.link{
  font-weight: 700;
  padding: 21px;
  display: inline-block;
}
a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}


/************EVALUADO**********/

/*ESTILO DE WORK*/
#work{
	padding: 70px;
}

#productos-work{
	padding-bottom: 70px;
}

.box-work{
	text-align: center;
	padding: 0;
	margin: 0;
}

#work #productos-work.flex-container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#work #imagenes.flex-container{
	flex-wrap: wrap;
	justify-content: space-around;
}

#work #productos-work img{
	width: 100%;
}

#work #imagenes img{
	width: 350px;
	height: auto;
	cursor: pointer;
	padding: 0;
}
#imagenes img:hover{
	opacity: 0.5;
}





/*MODAL*/

.hide{
  display: none;
}
.box-work{
  cursor:pointer;
}

#box-work-modal{
  background-color: #2ecc71;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left: 0;
}
#box-work-modal .close{
position: absolute;
top:20px;
right:20px;
cursor:pointer;
}
#box-work-modal .close img{
  width:60px;
}

#box-work-modal .modal-body {
    /* width: 59%; */
    margin: 0 auto;
    text-align: center;
    padding: 100px;
    margin-top: -27px;
}


















